.profileSection {
    padding: 10px;
    /* border: 1px solid black; */
}

.semester {
    text-align: left;
    font-size : 23px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #6E6C6C;
    opacity: 1;
}

.semesterSection {
    padding: 5px;
}

.jobTitle {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.profileCells {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profileCell {
    margin: 0 5px;
}

.profileImage {
    width: 85px;
    height: 85px;
    border : 1px solid gray;
    border-radius: 100%;
}

.personName {
    margin-bottom : 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}

.personPosition {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0px;
    color: #898989;
    opacity: 1;
}


/* MEDIA */

@media all and (max-width: 1024px){
    .semesterSection{
        padding: 0 5%;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {

    .semester{
        font-size: 20px;
    }
    .jobTitle{
        font-size: 15px;
    }
    .profileImage {
        width: 60px;
        height: 60px;
    }
    .personName {
        font-size: 15px;
    }
    .personPosition {
        font-size : 13px;
    }
}

@media all and (max-width: 767px) {
    .semester{
        font-size: 18px;
    }
    .jobTitle{
        font-size: 13px;
    }
    .profileImage {
        width: 60px;
        height: 60px;
    }
    .personName {
        font-size: 15px;
    }
    .personPosition {
        font-size : 13px;
    }
}

/* Mobile(Portrait) */
@media (max-width: 480px) {
    .semester{
        font-size: 18px;
    }
    .jobTitle{
        font-size: 13px;
    }
    .profileImage {
        width: 35px;
        height: 35px;
    }
    .personName {
        font-size: 12px;
    }
    .personPosition {
        font-size : 10px;
    }
}
