.bodyWrapper{
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 210px;
    min-height: 1000px;
    height:100%;
}

.bodyWrapperNone{
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    min-height: 1000px;
}