.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 10px;
}

.announcementWrapper {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin: 15px 0;
    z-index: -1000;
}

.frontmatter {
    border: 1px dotted black;
    border-right: 0;
    border-left: 0;
    padding: 5px;
    margin: 0 0 20px;

    text-align: center;
}

.previewWrapper {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    padding: 5px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #e0e0e0;
    cursor: pointer;
}
.previewFrontmatter {
    margin: 0 5px;
}
.previewFrontmatter:nth-child(1) {
    margin-right: 10px;
}
.previewFrontmatter:nth-child(2) {
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.previewFrontmatter:nth-child(3) {
    flex-shrink: 0;
    flex-basis: auto;
}


/* PC (해상도 1024px)*/
@media all and(min-width:1024px) {
    .announcementWrapper {
        width: 1024px;
    }
    .previewWrapper {
        width: 1024px;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and(min-width:768px) and(max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and(max-width:767px) {}
