* {
  margin: 0;
  padding: 0;
}

.layoutWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
}

/*This is the turning point*/

.imageWrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 400px;
}

.imageWrapper img:first-child {
  max-width: 100%;
  max-height: 100%;
  content: url('../images/mainImage.jpg');
  animation: slide 15s infinite;
}

.imageWrapper img:nth-child(2) {
  content: url('../images/mainImage2.jpg');
  display: none;
}

.imageWrapper img:nth-child(3) {
  content: url('../images/mainImage3.jpg');
  display: none;
}

.imageWrapper img:nth-child(4) {
  content: url('../images/mainImage4.jpg');
  display: none;
}

@keyframes slide {

  25% {
    content: url('../images/mainImage2.jpg');
  }

  50% {
    content: url('../images/mainImage3.jpg');
  }

  75% {
    content: url('../images/mainImage4.jpg');
  }

  100% {
    content: url('../images/mainImage.jpg');

  }
}


.textWrapperHorizontal {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
}

.textWrapperVertical {
  display: none;
}

.textFormat {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.textFormat p {
  color: #898989;
  font-size: 15px;
}

.textFormat p span {
  color: #000000;
  font-size: 20px;
}

.historyWrapper {
  width: 100%;
  margin: 25px auto 0;
  display: flex;
  flex-direction: column;
}

.historyWrapper h3 {
  color: #000000;
}

.historyList {
  list-style: none;
  margin: 0 40px;
}

.historyList li {
  display: flex;
  flex-direction: row;
  border-bottom: #e0e0e0 2px solid;
}

.historyList li p {
  color: #aaaaaa;
  font-size: 15px;
}

.historyList li p span {
  color: #898989;
  padding-right: 125px;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  .layoutWrapper {
    width: 1024px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .textWrapperHorizontal {
    display: none;
  }

  .imageWrapper {
    justify-content: center;
  }

  .historyWrapper {
    justify-content: center;
    align-items: center;
  }

  .textWrapperVertical {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textFormat {
    text-align: start;
  }
}

@media all and (max-width: 767px) {
  .imageWrapper {
    width: 500px;
    justify-content: center;
  }

  .textWrapperHorizontal {
    display: none;
  }

  .textWrapperVertical {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .historyWrapper {
    justify-content: center;
    align-items: center;
  }

  .textFormat {
    text-align: start;
  }

}